{% extends 'uo/base.html' %}

{% block title %}À propos{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="text-center mb-4">
        <h1 class="display-3 text-primary">Bonjour et bienvenue !</h1>
        <p class="lead text-muted">Nous sommes ravis de vous présenter notre projet.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-center mb-4">
                Vous êtes sur le projet Web de 
                <span class="font-weight-bold text-primary">Rabah</span>,
                <span class="font-weight-bold text-primary">Joan</span>,
                <span class="font-weight-bold text-primary">Muhamad</span> et
                <span class="font-weight-bold text-primary">Merouane</span>.
            </p>
	        <p class="lead text-muted">
                Notre application vous permet de gérer facilement le catalogue des formations proposées par un département universitaire. Vous pouvez consulter les détails des formations et des unités d'enseignement (UE), et bien plus encore !
            </p>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="/" class="btn btn-outline-primary btn-lg">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}