{% extends 'uo/base.html' %}

{% block title %}À propos{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="text-center mb-4">
        <h1 class="display-3" style="color: #18534F;">Bonjour et bienvenue !</h1>
        <p class="lead" style="color: #226D68;">
            <i class="fas fa-smile" style="color: #D6955B;"></i> Nous sommes ravis de vous présenter notre projet.
        </p>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-center mb-4">
                Vous êtes sur le projet Web de 
                <span class="fw-bold" style="color: #D6955B;">Rabah</span>,
                <span class="fw-bold" style="color: #D6955B;">Joan</span>,
                <span class="fw-bold" style="color: #D6955B;">Muhamad</span> et
                <span class="fw-bold" style="color: #D6955B;">Merouane</span>.
            </p>
	        <p class="lead" style="color: #18534F;">
                Notre application vous permet de gérer facilement le catalogue des formations proposées par un département universitaire. Vous pouvez consulter 
                les détails des formations et des unités d'enseignement (UE), et bien plus encore ! <i class="fas fa-book-open" style="color:#D6955B;"></i>
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center mt-5">
        <a href="/" class="btn btn-lg" style="background-color: #18534F; color: #ECF8F6; border-color: #18534F;">
            <i class="fas fa-arrow-left"></i> Retour à l'accueil
        </a>
    </div>
</div>
{% endblock %}
