{% extends 'uo/base.html' %}

{% block title %}
Liste des formations
{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- Titre principal -->
    <div class="text-center mb-4">
        <h1 class="display-4" style="color: #18534F;">
            <i class="fas fa-university" style="color: #D6955B;"></i> Liste des formations
        </h1>
    </div>

    <!-- Liste des formations -->
    <ul class="list-group">
        {% for formation in formations %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #ECF8F6; color: #18534F;">
                <span>
                    <i class="fas fa-book" style="color: #226D68;"></i> {{ formation.intitule }}
                </span>
                <div>
                      <!-- Bouton Statistiques pour les responsables -->
                      {% if user.is_authenticated and formation.responsable.pk == user.pk %}
                      <a href="{% url 'formation_stats' formation.id %}" class="btn btn-sm" style="background-color: #D6955B; color: #ECF8F6;">
                          <i class="fas fa-chart-bar"></i> Statistiques
                      </a>
                  {% endif %}
                    <a href="{% url 'formation_detail' formation.id %}" class="btn btn-sm me-2" style="background-color: #18534F; color: #ECF8F6;">
                        <i class="fas fa-info-circle"></i> Détails
                    </a>
                  
                </div>
            </li>
        {% empty %}
            <li class="list-group-item text-center" style="background-color: #FEEAA1; color: #18534F;">
                <i class="fas fa-exclamation-circle"></i> Aucune formation disponible.
            </li>
        {% endfor %}
    </ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
