{% extends 'uo/base.html' %}
{% block content %}
<div class="container py-5">
    <!-- Titre principal -->
    <h1 class="display-4" style="color: #18534F;">
        <i class="fas fa-book" style="color: #18534F"></i> {{ ue.titre }}
    </h1>
    <p class="lead" style="color: #226D68;">
        <strong>Description :</strong> {{ ue.description }}
    </p>

    <!-- Boutons d'actions -->
    <div class="mb-4 d-flex">
        <a href="{% url 'ue_delete' ue.id %}" class="btn btn-danger me-2">
            <i class="fas fa-trash-alt"></i> Supprimer cette UE
        </a>
        <a href="{% url 'ue_edit' ue.id %}" class="btn btn-primary me-2">
            <i class="fas fa-edit"></i> Modifier cette UE
        </a>
        <a href="{% url 'ue_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retour à la liste des UEs
        </a>
    </div>

    <!-- Informations sur les heures -->
    <div class="card p-4 shadow-sm mb-5" style="background-color: #ECF8F6; border-color: #FEEAA1;">
        <h5 class="card-title" style="color: #18534F;">
            <i class="fas fa-clock"></i> Heure du cours
        </h5>
        <p style="color: #226D68;"><strong>CM :</strong> {{ ue.CM }} heures</p>
        <p style="color: #226D68;"><strong>TD :</strong> {{ ue.TD }} heures</p>
        <p style="color: #226D68;"><strong>TP :</strong> {{ ue.TP }} heures</p>
    </div>

    <!-- Formations associées -->
    <div class="card p-4 shadow-sm" style="background-color: #ECF8F6; border-color: #FEEAA1;">
        <h3 class="card-title" style="color: #18534F;">
            <i class="fas fa-university"></i> Formations associées
        </h3>
        <ul class="list-group">
            {% for formation in formations %}
                <li class="list-group-item" style="background-color: #ECF8F6; color: #226D68;">
                    <a href="{% url 'formation_detail' formation.id %}" style="color: #18534F;">
                        <i class="fas fa-chevron-right"></i> {{ formation.intitule }}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item" style="background-color: #ECF8F6; color: #226D68;">
                    <i class="fas fa-exclamation-circle"></i> Aucune formation associée.
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
